<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="closeModal()"
  [draggable]="false"
  class="custom_login_modal"
>
  <ng-template pTemplate="header">
    <span>Login</span>
  </ng-template>
  <ng-template pTemplate="content">
    <div [formGroup]="loginForm">
      <input
        type="text"
        pInputText
        class="mb-3 w-100"
        placeholder="User name *"
        formControlName="email"
      />
      <small
        class="text-danger"
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        Email is required.
      </small>

      <input
        type="text"
        pInputText
        class="w-100"
        placeholder="Password *"
        formControlName="password"
      />
      <small
        class="text-danger"
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        Password is required.
      </small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Login"
      class="custom_login"
      (onClick)="loginSubmit()"
    ></p-button>
    <div class="out_section_login">
      <i class="pi pi-facebook" style="font-size: 1.5rem; cursor: pointer"></i>
      <i class="pi pi-twitter" style="font-size: 1.5rem; cursor: pointer"></i>
      <i class="pi pi-google" style="font-size: 1.5rem; cursor: pointer"></i>
    </div>
  </ng-template>
</p-dialog>
