<div class="wrapper_modern mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img_section">
          <img src="../../../assets/img/home/main-home-img-1.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="modern_space_section">
          <h2>
            Modern spaces and <br />
            premium design
          </h2>
        </div>
        <div class="modern_desc mt-5">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sint
            modi sunt, ad iste dolorum cupiditate vero fuga beatae aspernatur
            dicta impedit dolor amet ex neque laboriosam dignissimos consequatur
            accusamus.
          </p>
        </div>
        <div class="modern_point">
          <p>– Mea omnium explicari</p>
          <p>– His no legere feugaitoer</p>
          <p>– illum idquem</p>
        </div>
        <div class="modern_action mt-4">
          <p-button
            label="Search Property"
            class="custom_btn_search"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
