<footer class="outer_footer">
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="col-md-3">
          <div class="first_section_footer">
            <img src="../../../assets/img/home/logo-footer.png" alt="" />
            <div class="first_footer_desc mt-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, modi ea dolores cupiditate fugit necessitatibus
                quisquam voluptatem dignissimos, sint magni, ut voluptatum
                nostrum impedit natus soluta vitae eius repellat facilis!
              </p>
            </div>
            <div class="read_more">
              <p class="fw-bold">Read more</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex aligns-item-center mt-5">
          <div class="contact_section mt-5">
            <h5 class="mt-2">Contact us</h5>
            <p class="mt-2">Staten Island, NY 10314, USA</p>
            <p class="mt-2">+111 222 369 45</p>
            <p class="mt-2">+123 456 789 11</p>
            <p class="mt-2">newhomeexample.com</p>
          </div>
        </div>
        <div
          class="col-md-3 d-flex justify-content-start aligns-item-center mt-5"
        >
          <div class="category_section mt-5">
            <h5 class="mt-2">Categories</h5>
            <p class="mt-2">Recent property</p>
            <p class="mt-2">To Sell</p>
            <p class="mt-2">To Buy</p>
            <p class="mt-2">To Rent</p>
          </div>
        </div>
        <div
          class="col-md-3 d-flex justify-content-start aligns-item-center mt-5"
        >
          <div class="link_section mt-5">
            <h5 class="mt-2">Links</h5>
            <p class="mt-2">Latest News</p>
            <p class="mt-2">About Us</p>
            <p class="mt-2">FAQ Page</p>
            <p class="mt-2">Contact Us</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>© 2020 Copyright:</p>
      </div>
    </div>
  </div>
</footer>
