<div class="d-block mt-5"></div>
<div class="wrapper_count mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="median_sold text-center">
          <h1 class="fw-bold">$980k</h1>
          <p>Median sold price</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="property_solid text-center">
          <h1 class="fw-bold">24</h1>
          <p>Properties sold</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="median_leasad text-center">
          <h1 class="fw-bold">$680k</h1>
          <p>Median leased price</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="proeprty_leased text-center">
          <h1 class="fw-bold">95</h1>
          <p>Properties leased</p>
        </div>
      </div>
    </div>
  </div>
</div>
