.wrapper_count {
  background-color: #edf9f9;
  background-image: url("../../../assets/img/home/1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 10rem;
}
