<div class="d-block mt-5"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="vision_img_section">
        <img src="../../../assets/img/home/about-us-img1.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="vision_section_desc">
        <h2>Vision</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vero
          tenetur saepe corporis architecto, aut reiciendis, placeat vitae
          repellat delectus officia quo suscipit, et similique molestiae fuga
          nihil repellendus a.
        </p>
      </div>
      <div class="view_more_btn mt-5">
        <p-button label="View more" class="custon_view_more_btn" />
      </div>
    </div>
  </div>
</div>
